@charset "UTF-8";
.card {
  width: 200px;
  height: 500px;
  background-color: yellow;
}

/* General style */
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html {
  display: flex;
  justify-content: center;
}

body {
  max-width: 1440px;
}

main {
  background-color: #EDEDED;
}

/* HEADER */
.header {
  width: 1440px;
  height: 667px;
  position: relative;
  background-image: url(../../brgd-images/background.png);
}
.header__logo {
  display: flex;
  align-items: center;
  width: auto;
  padding-left: 70px;
  padding-top: 50px;
  text-decoration: none;
}
.header__logo div {
  font-family: "Anton", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #FFFFFF;
}
.header__logo img {
  height: 22px;
  width: 22px;
  margin-left: 5px;
}
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 890px;
  margin: 170px auto 30px auto;
  line-height: 66px;
  font-family: "Anton", sans-serif;
  font-size: 44px;
  font-weight: 400;
  color: #FFD15B;
  text-align: center;
}
.header__searchBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  width: 954px;
  height: 72px;
  border-radius: 11px;
  background-color: #FFFFFF;
}
.header__searchBar__mainInput {
  padding-left: 35px;
  border-radius: 11px;
  width: 100%;
  height: 72px;
  font-size: 16px;
  line-height: 21.86px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  outline: none;
}
.header__searchBar__btnErase {
  cursor: pointer;
  background-color: #FFFFFF;
  margin: 5px 20px 0 0;
}
.header__searchBar__btnLoupe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 72px;
  border-radius: 11px;
  background-color: #FFFFFF;
  margin-right: 4px;
  cursor: pointer;
}
.header__searchBar__btnLoupe__loupe {
  background-color: #1B1B1B;
  border-radius: 10px;
}
.header__searchBar__btnLoupe__loupe :hover {
  background-color: #FFD15B;
}

/* FILTRES et TAGS */
.tagsSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 102px 50px 102px;
  padding-top: 20px;
}
.tagsSection__tagsContainer {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.tagsSection__tagsContainer__tagBtn {
  display: flex;
  flex-direction: column;
  width: 180px;
}
.tagsSection__tagsContainer__tagBtn .firstBloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px;
}
.tagsSection__tagsContainer__tagBtn .firstBloc .tagTitle {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.tagsSection__tagsContainer__tagBtn .dropdown__bloc {
  display: none;
  flex-direction: column;
  background-color: #FFFFFF;
  padding-bottom: 15px;
  border-radius: 0px 0px 10px 10px;
  margin-top: -7px;
}
.tagsSection__tagsContainer__tagBtn .dropdown__bloc .searchBarBloc {
  display: flex;
  position: relative;
  padding: 10px;
}
.tagsSection__tagsContainer__tagBtn .dropdown__bloc .searchBarBloc .input {
  font-family: "Manrope", sans-serif;
  padding-left: 5px;
  height: 35px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid rgb(185, 185, 185);
}
.tagsSection__tagsContainer__tagBtn .dropdown__bloc .searchBarBloc .input:focus {
  border: 1px solid rgb(185, 185, 185);
}
.tagsSection__tagsContainer__tagBtn .dropdown__bloc .searchBarBloc .tagLoupe {
  color: rgb(185, 185, 185);
  background-color: transparent;
  top: 20px;
  right: 20px;
  cursor: pointer;
  position: absolute;
}
.tagsSection__tagsContainer__tagBtn .dropdown__bloc .tagsList {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  max-height: 200px;
  overflow-y: scroll;
}
.tagsSection__tagsContainer__tagBtn .dropdown__bloc .tagsList .tag {
  display: flex;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 8px 0 8px 10px;
}
.tagsSection__tagsContainer__tagBtn .dropdown__bloc .tagsList .tag:hover {
  background-color: #FFD15B;
}
.tagsSection__tagsContainer__tagBtn .dropdown__bloc .selectedTagList {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FFD15B;
  padding-right: 10px;
}
.tagsSection__tagsContainer__tagBtn .dropdown__bloc .selectedTagList .selectedTag {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  padding: 6px 0 6px 10px;
}
.tagsSection__totalRecipe__nbrTotalRecipe {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 21px;
}

.opened {
  display: flex;
}

/* Style des étiquttes de tag */
.resultTagContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0px 102px 50px 102px;
}
.resultTagContainer .resultTagsList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFD15B;
  min-width: 140px;
  height: 50px;
  border-radius: 12px;
  padding: 0px 15px;
}
.resultTagContainer .resultTagsList .resultTag {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* CARTES DES RECETTES */
.wrapper {
  margin: 19px 102px 0 102px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 66px 48px;
  padding-bottom: 21px;
}

.card {
  display: block;
  width: 380px;
  height: 730px;
  background-color: #FFFFFF;
  border-radius: 21px;
}
.card__recipeHeader {
  display: flex;
  justify-content: flex-end;
  border-radius: 21px 21px 0 0;
}
.card__recipeHeader__duration {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 21px 22px 0 0;
  width: 33px;
  height: 16px;
  padding: 5px 15px 5px 15px;
  border-radius: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 12px;
  background-color: #FFD15B;
  color: #1B1B1B;
}
.card__recipeHeader__img {
  width: 100%;
  height: 250px;
  border-radius: 21px 21px 0 0;
  object-fit: cover;
}
.card__infoContainer {
  padding: 32px 25px 0 25px;
}
.card__infoContainer__recipeTitle {
  height: 27px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 25px;
}

.descriptionBlock {
  width: 330px;
}
.descriptionBlock__title {
  color: #7A7A7A;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.descriptionBlock__recipeDescription {
  color: #1B1B1B;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  max-height: 115px;
  overflow: auto;
}

.ingredientsBlock {
  margin-top: 32px;
  width: 330px;
}
.ingredientsBlock__title {
  color: #7A7A7A;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}
.ingredientsBlock__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 21px 30px;
}

.ingredientName {
  color: #1B1B1B;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.12px;
}

.ingredientQuantity {
  color: #7A7A7A;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
}

/*# sourceMappingURL=index.css.map */
